main, .page {
    background-image: url("https://monitorpetsa.blob.core.windows.net/files/background.jpg");
    background-repeat: repeat;
}

h1 {
    background-color: #004381;
    color: #ffffff !important;
    max-width: 20rem;
    border: solid;
    border-color: white;
    font-size: x-large !important;
}

.bg-logo {
    background-color: white;
    border-radius: 40px 40px 60px 60px;
    width: 100px;
    height: 100px;
}
