@inherits LayoutComponentBase

<div class="page">

    <main>
        <article class="content px-4">
            <div class="container-sm h-100 mt-2">

                <div class="row justify-items-center">
                    <div class="col-sm text-center">
                        <img class="center bg-logo" src="https://monitorpetsa.blob.core.windows.net/files/shield-dog-solid.svg" />
                        <div class="d-flex justify-content-center">
                            <h1 class="text-center h1 mt-0 p-2 rounded">Monitor Pet</h1>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center h-100">
                    <div class="col-3">
                    </div>
                    <div class="col-sm">
                        @Body
                    </div>
                    <div class="col-3">
                    </div>
                </div>
            </div>
        </article>
    </main>
</div>

@code {

}
