@page "/Dashboard"
@page "/Dashboard/{IdDosador:guid}"
@using ChartJs.Blazor
@using ChartJs.Blazor.BarChart
@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Util
@using MonitorPet.Ui.Client.Services
@using MonitorPet.Ui.Shared.Model.Dosador
@using MonitorPet.Ui.Shared.Model.Exceptions
@using MonitorPet.Ui.Shared.Model.PesoHistorico
@using MonitorPet.Ui.Shared.Model.User

@inject HttpClient _client
@inject UserInfoService _userInfo
@inject NavigationManager _nav

<div class="container-md h-100">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-10">
            <ErrorComponent Errors="Errors"></ErrorComponent>

            @if (Dosadores.Any())
            {
                <SelectDosadorComponent Dosadores="Dosadores"
                                    OnChangeDosador="(async (model)=> await ChangeDosador(model))">
                </SelectDosadorComponent>
            }

            <div class="card m-0 p-0" style="min-height: 100px;">
                <div class="card-header">
                    <div class="row d-flex">
                        <div class="col-md-8">
                            Consumo diário
                        </div>
                        <div class="col-4 justify-content-end text-end">
                            <EditForm Model="_dayDateForm">
                                <InputDate 
                                    ParsingErrorMessage="Data inválida" 
                                    @bind-Value="_dayDateForm.Day" 
                                    @oninput="(async ()=> await UpdateDayDashboard())">
                                </InputDate>
                            </EditForm>
                        </div>
                    </div>
                </div>
                <div class="card-body m-0 p-0 h-100">
                    @if (LoadGraph == StateMessage.Sent)
                    {
                        <Chart Config="_configDaily" @ref="_chartDaily"></Chart>
                    }
                    else if (LoadGraph == StateMessage.Sending)
                    {
                        <LoadComponent></LoadComponent>
                    }
                    else
                    {
                        <p class="text-center">Nenhuma alimentação registrada.</p>
                    }
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>

@code {
    private static readonly string[] _availableColors = new[]
    {
        ColorUtil.FromDrawingColor(System.Drawing.Color.Red),
        ColorUtil.FromDrawingColor(System.Drawing.Color.Blue),
        ColorUtil.FromDrawingColor(System.Drawing.Color.Green),
        ColorUtil.FromDrawingColor(System.Drawing.Color.GreenYellow),
    };

    private BarConfig _configDaily { get; } = new()
        {
            Options = new BarOptions
            {
                Responsive = true,
                Legend = new Legend
                {
                    Position = ChartJs.Blazor.Common.Enums.Position.Top,
                    Display = true,
                }
            }
        };

    private Chart? _chartDaily;

    private DayDateForm _dayDateForm { get; } = new();
    private readonly DateTime _week = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 0).AddDays(-7);

    private StateMessage LoadGraph = StateMessage.None;

    private List<string> Errors { get; } = new();

    private IEnumerable<DosadorJoinUsuarioDosadorViewModel> Dosadores { get; set; }
        = Enumerable.Empty<DosadorJoinUsuarioDosadorViewModel>();

    [Parameter]
    public Guid IdDosador { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Dosadores = await GetDosadores();

        if (!Dosadores.Any())
        {
            return;
        }

        IdDosador = Dosadores.FirstOrDefault()?.IdDosador ?? default;

        await UpdateDayDashboard();
    }

    private async Task<IEnumerable<DosadorJoinUsuarioDosadorViewModel>> GetDosadores()
    {
        try
        {
            using var response = await _client.GetAsync("/api/dosador/all");

            var errorsResponse = await response.TryGetErrors();

            if (errorsResponse.ContainsError)
            {
                Errors.Add("Falha em coleta de dosadores.");
                return Enumerable.Empty<DosadorJoinUsuarioDosadorViewModel>(); ;
            }

            return await response.Content.ReadFromJsonAsync<IEnumerable<DosadorJoinUsuarioDosadorViewModel>>()
                ?? Enumerable.Empty<DosadorJoinUsuarioDosadorViewModel>();
        }
        catch
        {
            Errors.Add("Falha em coleta de dosadores.");
            return Enumerable.Empty<DosadorJoinUsuarioDosadorViewModel>(); ;
        }
    }

    private async Task<ConsumptionIntervalViewModel?> GetIntervalDayByIdDosador(Guid idDosador)
    {
        const string GET = "api/consumption/day/{idDosador}/{dateOffSet}";

        try
        {
            using var response = await _client.GetAsync(
                GET
                .Replace("{idDosador}", idDosador.ToString())
                .Replace("{dateOffSet}", _dayDateForm.Day.ToUniversalTime().ToString("yyyy-MM-ddT00:00:00")));

            var result = await response.TryGetErrors();

            if (result.ContainsError)
            {
                Errors.AddRange(result.ErrorsMessages);
                return null;
            }

            return await response.Content.ReadFromJsonAsync<ConsumptionIntervalViewModel>();
        }
        catch
        {
            Errors.Add("Falha ao coletar relatório diário.");
            return null;
        }
    }

    private async Task ChangeDosador(DosadorJoinUsuarioDosadorViewModel modelToChange)
    {
        IdDosador = modelToChange.IdDosador;
        await Task.CompletedTask;
    }

    private async Task UpdateDayDashboard()
    {
        LoadGraph = StateMessage.Sending;

        try
        {
            Errors.Clear();

            var interval = await GetIntervalDayByIdDosador(IdDosador);

            if (interval is null)
                return;

            UpdateConsumptionInterval(interval);

            if (_chartDaily is not null)
            {
                await _chartDaily.Update();
            }
        }
        finally
        {
            LoadGraph = StateMessage.Sent;
        }
    }

    private void UpdateConsumptionInterval(ConsumptionIntervalViewModel interval)
    {
        string[] labels = interval.Consumptions.Select(c => c.Start.ToString("dd-MMMM HH:mm")).ToArray();
        BarDataset<double> dataset = new(interval.Consumptions.Select(c => c.QttConsumption))
            {
                Label = "Consumo de ração",          
                BackgroundColor = GetRandomColors(interval.Consumptions.Count),
                BorderColor = ColorUtil.FromDrawingColor(System.Drawing.Color.DarkBlue),
                BorderWidth = 1,
                
            };

        _configDaily.Data.Datasets.Add(dataset);

        foreach(var label in labels)
            _configDaily.Data.Labels.Add(label);
    }

    private static string[] GetRandomColors(int count)
    {
        List<string> colors = new();
        for (int i = 0; i < count; i++)
            colors.Add(_availableColors[new Random().Next(0, _availableColors.Count() - 1)]);

        return colors.ToArray();
    }

    private class DayDateForm
    {
        public DateTime Day { get; set; } = new DateTime(DateTime.Now.Year, DateTime.Now.Month, DateTime.Now.Day, 0, 0, 0);
    }
}
