@using MonitorPet.Ui.Shared.Model.User

<div class="alert alert-info" role="alert">
    Conta necessita de confirmação de e-mail. Para confirmar, <a href="SendConfirmationEmail">clique aqui</a>.
</div>

@code {
    
}
